@import "tailwindcss";

/* базовые размеры */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* фон + шрифт */
body {
  background: #000;
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;

  /* ретро */
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
}

/* пиксельная отрисовка */
.pixel,
.pixel * ,
img.pixel,
canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

/* убрать подсветку тапа */
*,
button {
  -webkit-tap-highlight-color: transparent;
}
